<% content_for :title, @song.new_record? ? "Add New Song" : "Edit Song" %>
<% crumb "Curate", admin_curators_path %>
<% crumb @curator.title, admin_curator_path(@curator) %>
<% crumb "Song Queue", admin_curator_songs_path(@curator) %>
<% crumb yield(:title), url_for %>

<div class="clearfix m-b-2">
  <h1 class="pull-sm-left"><%= yield :title %></h1>
  <div class="pull-sm-right">
    <% unless @song.new_record? %>
      <%= button_to "Delete song", [:admin, @curator, @song], method: :delete,
        data: { confirm: "Really delete #{@song.title}?", disable_with: "Deleting…" },
        class: "btn btn-sm btn-danger-outline" %>
    <% end %>
  </div>
</div>

<div class="row bg-faded p-y-1 m-b-2">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="m-b-2">Preview</h2>
    <%= render @song %>
  </div>
</div>

<%= simple_form_for [:admin, @curator, @song], html: { class: "clearfix m-b-3" } do |f| %>
  <%= f.input :title, label: "Artist and Title" %>
  <%= f.input :description, input_html: { rows: 4 },
    wrapper_html: { data: { word_count: "15:30" } },
    hint: "Aim for around 15–30 words." %>
  <%= f.input :url, label: "Song URL" %>
  <%= f.input :image_url, label: "Image URL" %>

  <div class="form-group">
    <%= f.label :genres, class: "form-control-label d-block" %>
    <%= genre_options f %>
  </div>

  <div class="pull-xs-right m-t-2">
    <%= link_to "Cancel", admin_curators_path, class: "btn btn-link" %>
    <%= f.submit "Preview", name: "preview", class: "btn btn-warning-outline",
      disable: true %>
    <%= f.submit @song.new_record? ? "Queue song" : "Save song",
      class: "btn btn-primary", disable: true %>
  </div>
<% end %>
