<% content_for :title, "Song Queue" %>
<% crumb "Curate", admin_curators_path %>
<% crumb @curator.title, admin_curator_path(@curator) %>
<% crumb yield(:title), url_for %>
<% crumb "Matching \"#{@search}\"", url_for(q: @search) if @search.presence %>

<div class="clearfix m-b-2">
  <h1 class="pull-xs-left"><%= yield :title %></h1>
  <div class="pull-xs-right">
    <%= link_to "Add song", new_admin_curator_song_path(@curator), class: "btn btn-primary" %>
  </div>
</div>

<%= render partial: "pagination", locals: { collection: @songs, search: @search } %>

<%= render partial: "songs", object: @songs %>

<%= render partial: "pagination", locals: { collection: @songs, search: @search } %>
