<% content_for :title, "Add New Song" %>
<% crumb "Curate", admin_curators_path %>
<% crumb @curator.title, admin_curator_path(@curator) %>
<% crumb "Song Queue", admin_curator_songs_path(@curator) %>
<% crumb yield(:title), url_for %>

<h1 class="m-b-2"><%= yield :title %></h1>

<p>Push a song onto your <strong><%= @curator.title %></strong> queue.</p>

<%= simple_form_for [:admin, @curator, @song], html: { class: "clearfix m-b-3" } do |f| %>
  <%= hidden_field_tag :oembed, true %>
  <%= f.input :url, label: "Song URL", autofocus: true, hint: "YouTube, Soundcloud, Vimeo, etc" %>

  <div class="pull-xs-right m-t-2">
    <%= link_to "Cancel", admin_curator_songs_path(@curator), class: "btn btn-link" %>
    <%= f.submit "Continue", class: "btn btn-primary" %>
  </div>
<% end %>
