<h1 class="m-b-2">Edit Profile</h1>

<%= simple_form_for current_user, url: [:admin, :profile] do |f| %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :email %>
  <%= f.input :extra_information %>
  
  <div class="pull-xs-right">
    <%= link_to "Cancel", admin_profile_path, class: "btn btn-link m-r-1" %>
    <%= f.submit "Save profile", class: "btn btn-primary" %>
  </div>
<% end %>

