<% content_for :title, "Edit Profile" %>
<% crumb "Profile", admin_profile_path %>
<% crumb yield(:title), url_for %>

<h1 class="m-b-2"><%= yield :title %></h1>

<%= simple_form_for current_user, url: [:admin, :profile], html: { class: "clearfix m-b-3" } do |f| %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :email, hint: "Your profile picture is based on your Gravatar email." %>

  <div class="m-y-2 clearfix">
    <%= f.input :extra_information, input_html: { rows: 3 }, hint: "Anything that would help us choose better songs for you!" %>
  </div>

  <hr>

  <%= render partial: "admin/users/social_form", object: f, as: :f %>

  <div class="pull-xs-right">
    <%= link_to "Cancel", admin_profile_path, class: "btn btn-link" %>
    <%= f.submit "Save profile", class: "btn btn-primary" %>
  </div>
<% end %>

<% if current_user.curator? %>
  <div class="text-muted">
    Your profile page also shows <%= link_to "your curator profile", admin_curators_path %>.
  </div>
<% end %>
