<div class="card">
  <div class="card-block">
    <h3><%= curator.title %></h3>
    <p class="lead"><%= curator.user.name %></p>
    <%= simple_format curator.description %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-info col-xs-12 col-sm-6">
      Songs
      <span class="pull-xs-right">
        <%= number_with_delimiter curator.songs %>
      </span>
    </li>
    <li class="list-group-item text-info col-xs-12 col-sm-6">
      Subscribers
      <span class="pull-xs-right">
        <%= number_with_delimiter curator.subscribers %>
      </span>
    </li>
  </ul>
</div>
