<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-sm-3 col-xs-4 center-block">
        <%= image_tag gravatar_url(curator.user.email), alt: "Avatar for #{curator.user.name}", class: "img-rounded img-fluid gravatar" %>
      </div>
      <div class="col-sm-9 col-xs-8">
        <div class="row m-x-0 flex-items-xs-top flex-items-xs-between">
          <h3><%= curator.title %></h3>
          <span class="text-muted small"><%= pluralize curator.subscriptions.count, "subscriber" %></span>
        </div>
        <p class="lead"><%= curator.user.name %></p>
        <%= simple_format curator.description %>
        <% unless curator.genre.nil? and curator.genres.empty? %>
          <p>
            <% if curator.genre %>
              <span class="label label-info"><%= curator.genre.name %></span>
            <% else %>
              <span class="label label-default">No main genre</span>
            <% end %>
            <% curator.genres.each do |genre| %>
              <span class="label label-warning"><%= genre.name %></span>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <%= render partial: "admin/users/social", object: curator.user, as: :user %>
    <li class="list-group-item">
      <div class="row flex-nowrap flex-items-xs-middle flex-items-xs-between">
        <div class="m-x-1 text-truncate">
          <span class="m-r-1 hidden-sm-down">Last song:</span>
          <% song = curator.songs.sent.first %>
          <% if song %>
            <%= link_to raw("&#x25b6;"), song.url, target: "_blank", class: "btn btn-primary-outline m-r-1" %>
            <strong>
              <%= link_to song.title, song.url, target: "_blank" %>
            </strong>
          <% else %>
            <span class="text-muted">No songs sent yet</span>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </li>
  </ul>
</div>
