<% content_for :title do %>
  <%= @curator.new_record? ? "Create" : "Edit" %> Curator Profile
<% end %>
<% crumb "Curate", admin_curators_path %>
<% crumb @curator.title, admin_curator_path(@curator) unless @curator.new_record? %>
<% crumb yield(:title), url_for %>

<h1 class="m-b-2">
  <%= yield :title %>
</h1>

<% if @curator.errors.any? %>
  <div class="alert alert-danger">
    <strong>Whoops!</strong>
    We couldn't save your profile. Please fix the errors below.
  </div>
<% end %>

<% unless @curator.user.nil? or @curator.title.blank? %>
  <div class="row bg-faded p-y-1 m-b-2">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="m-b-2">Preview</h2>
      <%= render @curator %>
    </div>
  </div>
<% end %>

<%= simple_form_for [:admin, @curator], html: { class: "clearfix m-b-3" } do |f| %>
  <% if current_user.admin? %>
    <%= f.input :user_id, as: :select,
      collection: User.curator.order('name'), prompt: "Choose curator",
      input_html: { class: "form-control c-select" } %>
  <% end %>
  <%= f.input :title, autofocus: true, hint: "e.g. Modern Eclectic" %>

  <%= f.input :description, input_html: { rows: 4 },
    wrapper_html: { data: { word_count: "20:50" } },
    hint: "Pitch your song queue to listeners! Aim for around 20–50 words." %>

  <div class="form-inline m-t-2 m-b-1">
    <div class="row flex-items-xs-middle m-x-0 <%= "has-danger" if @curator.errors[:genre].any? %>">
      <span class="form-control-static text-muted m-r-1">
        Will be enjoyed by people who like…
      </span>
      <%= f.input_field :genre_id, as: :select, collection: Genre.primary.order('name'), prompt: "Choose genre",  class: "form-control c-select" %>
      <%= f.error :genre, class: "form-control-static text-danger m-l-1" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :genres, "Any other relevant genres?", class: "d-block text-muted m-b-1" %>
    <%= genre_options f %>
  </div>

  <div class="pull-xs-right m-t-2">
    <%= link_to "Cancel", admin_curators_path, class: "btn btn-link" %>
    <%= f.submit "Preview", name: "preview", class: "btn btn-warning-outline",
      disable: true %>
    <%= f.submit "Save curator profile", class: "btn btn-primary",
       disable: true %>
  </div>
<% end %>

<div class="text-muted">
  Your curator page also shows <%= link_to "information from your profile", edit_admin_profile_path %>.
</div>
