<% content_for :title, "Curator Profiles" %>
<% crumb "Curate", admin_curators_path %>

<div class="clearfix m-b-2">
  <h1 class="pull-xs-left"><%= yield :title %></h1>
  <%= link_to "Add new curator profile", new_admin_curator_path, class: "btn btn-primary pull-xs-right" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th class="text-xs-center">Subscribers</th>
      <th class="text-xs-center">Queued Songs</th>
      <th class="text-xs-center">Total Songs</th>
      <th class="text-xs-right">Created</th>
    </tr>
  </thead>
  <tbody>
    <% if @curators.empty? %>
      <tr class="table-warning">
        <td colspan="4">
          No curator profiles found.
        </td>
      </tr>
    <% end %>
    <% @curators.each do |curator| %>
      <tr>
        <th scope="row"><%= link_to curator.title, admin_curator_path(curator) %></th>
        <td class="text-xs-center"><%= number_with_delimiter curator.subscriptions.count %></td>
        <td class="text-xs-center">
          <span class="<%= queue_count_class curator.songs.queued.count %>">
            <%= number_with_delimiter curator.songs.queued.count %>
          </span>
        </td>
        <td class="text-xs-center"><%= number_with_delimiter curator.songs.count %></td>
        <td class="text-xs-right"><%= curator.created_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
