<% content_for :title, @curator.title %>
<% crumb "Curate", admin_curators_path %>
<% crumb yield(:title), url_for %>

<div class="clearfix m-b-2">
  <h1 class="pull-xs-left"><%= yield :title %></h1>
  <div class="pull-xs-right">
    <%= link_to "Song queue", admin_curator_songs_path(@curator), class: "btn btn-secondary" %>
    <%= link_to "Add song", new_admin_curator_song_path(@curator), class: "btn btn-primary" %>
  </div>
</div>

<% unless @curator.songs.empty? %>
  <p class="text-muted clearfix">
    Showing <%= pluralize @curator.songs.limit(5).count, "song" %>
    out of a total of <%= @curator.songs.count %>.
  </p>
<% end %>

<% if @curator.songs.queued.empty? %>
  <div class="alert alert-warning">
    Whoops! There are no unsent songs in your queue.
    Please <%= link_to "add a song now", new_admin_curator_song_path(@curator) %>.
  </div>
<% end %>

<%= render partial: "admin/songs/songs", object: @curator.songs.limit(5) %>

<% unless @curator.songs.empty? %>
  <div class="m-t-1">
    <%= link_to "View entire song queue", admin_curator_songs_path(@curator), class: "btn btn-secondary" %>
  </div>
<% end %>

<hr class="m-t-3">

<div class="clearfix m-t-3 m-b-2">
  <h2 class="pull-xs-left">Curator Profile</h2>
  <div class="pull-xs-right">
    <%= link_to "Edit curator profile", edit_admin_curator_path(@curator), class: "btn btn-secondary" %>
  </div>
</div>

<p>Here's how your curator profile looks to subscribers:</p>

<%= render @curator %>
