<% content_for :title, @curator.title %>
<% crumb "Curate", admin_curators_path %>
<% crumb yield(:title), url_for %>

<div class="clearfix m-b-2">
  <h1 class="pull-sm-left"><%= yield :title %></h1>
  <div class="pull-sm-right btn-group">
    <%= link_to "Edit profile", edit_admin_curator_path(@curator), class: "btn btn-secondary" %>
    <%= link_to "Song queue", admin_curator_songs_path(@curator), class: "btn btn-secondary" %>
    <%= link_to "Add song", new_admin_curator_song_path(@curator), class: "btn btn-primary" %>
  </div>
</div>

<div class="p-y-1 hidden-md-up"></div>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="row m-b-3">
      <div class="col-xs-4 col-md-12">
        <%= image_tag gravatar_url(@curator.user.email), alt: "Avatar for #{@curator.user.name}", class: "img-rounded img-fluid gravatar m-b-1" %>
      </div>
      <div class="col-xs-8 col-md-12">
        <div class="clearfix">
          <h2 class="h5 m-b-1 pull-sm-left pull-md-none"><%= @curator.user.name %></h2>
          <div class="m-b-1 pull-sm-right pull-md-none small text-muted"><%= pluralize @curator.subscriptions.count, "subscriber" %></div>
        </div>

        <div class="m-b-2 text-muted">
          <%= simple_format @curator.description %>
        </div>
        <% unless @curator.genre.nil? and @curator.genres.empty? %>
          <p>
            <% if @curator.genre %>
              <span class="tag tag-info"><%= @curator.genre.name %></span>
            <% else %>
              <span class="tag tag-default">No main genre</span>
            <% end %>
            <% @curator.genres.each do |genre| %>
              <span class="tag tag-warning"><%= genre.name %></span>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-9">
    <% if @curator.songs.queued.empty? %>
      <div class="alert alert-warning">
        Whoops! There are no unsent songs in your queue.
        Please <%= link_to "add a song now", new_admin_curator_song_path(@curator) %>.
      </div>
    <% end %>

    <% @curator.songs.queued.order(:created_at).first(5).each_with_index do |song, index| %>
      <%= render song do %>
        <%= render partial: "admin/songs/song_footer",
                   locals: { song: song, date: @next_send + index.days } %>
      <% end %>
    <% end %>

    <% unless @curator.songs.empty? %>
      <div class="m-t-3 clearfix">
        <%= link_to "View entire song queue", admin_curator_songs_path(@curator), class: "btn btn-secondary pull-xs-right" %>
      </div>
    <% end %>
  </div>
</div>
