<% content_for :title do %>
  <%= @genre.new_record? ? "Create" : "Edit" %> Genre
<% end %>
<% crumb "Genres", admin_genres_path %>
<% crumb yield(:title), url_for %>

<div class="clearfix m-b-2">
  <h1 class="pull-xs-left"><%= yield :title %></h1>
  <% unless @genre.new_record? %>
    <%= button_to "Delete genre", [:admin, @genre], method: :delete,
      data: { confirm: "Really delete #{@genre.name}?", disable_with: "Deleting…" },
      class: "btn btn-danger-outline pull-xs-right" %>
  <% end %>
</div>

<%= simple_form_for [:admin, @genre], html: { class: "clearfix" } do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-6 m-b-1">
      <%= f.input :name, autofocus: true %>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 m-b-1">
      <%= f.input :primary, inline_label: "Primary genre?" %>
      <p class="text-info small">Primary genres are used to match curators to subscribers.</p>
    </div>
  </div>

  <div class="pull-xs-right m-t-2">
    <%= link_to "Cancel", admin_genres_path, class: "btn btn-link" %>
    <%= f.submit "Save genre", class: "btn btn-primary",
      data: { disable_with: "Saving…" } %>
  </div>
<% end %>
