<div class="jumbotron jumbotron-fluid jumbotron-home">
  <div class="container text-xs-center">
    <%= image_tag "logo.svg", alt: "A Song A Day", size: "360x144", class: "m-b-1 img-fluid center-block" %>

    <h2 class="h1 m-b-3 home-pitch center-block">
      For those <nobr>&ldquo;too busy&rdquo;</nobr>
      <nobr>to discover</nobr> new music.
    </h2>

    <% if current_user %>
      <p class="lead">
        Logged in as <%= current_user.name %>.
        Welcome back!
      </p>

      <div class="btn-group" role="group" aria-label="Navigate">
        <% if current_user.admin? %>
          <%= link_to "Dashboard", admin_dashboard_path, class: "btn btn-jumbotron" %>
        <% elsif current_user.curator? %>
          <%= link_to "Curate", admin_curators_path, class: "btn btn-jumbotron" %>
        <% else %>
          <%= link_to "Profile", admin_profile_path, class: "btn btn-jumbotron" %>
        <% end %>
        <%= link_to "Subscriptions", admin_subscriptions_path, class: "btn btn-jumbotron hidden-xs-down" %>
        <%= link_to "Logout", session_path, method: :delete, class: "btn btn-jumbotron" %>
      </div>
    <% else %>
      <%= form_tag signup_start_url, method: :get, class: "form-inline" do %>
        <div class="form-group">
          <input type="email" name="email" class="form-control form-control-lg m-b-1 jumbotron-form-control" placeholder="send-me@awesome.music" required autofocus>
          <button class="btn btn-lg btn-jumbotron btn-xs-down-block m-b-1" type="submit" data-disable-with="Working…">
            Sign Up
          </button>
        </div>
      <% end %>

      <div class="m-t-2">
        <span class="m-r-2">Already have an account?</span>

        <%= link_to "Log In", new_session_path, class: "btn btn-jumbotron btn-xs-down-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container home-max-width">
  <h2 class="text-sm-center m-b-1">The gist, yo</h2>

  <p class="lead text-primary home-pitch center-block text-sm-center">
    A song based on your musical preferences, <nobr>delivered to</nobr> your inbox every day.
  </p>

  <p>
    No fancy algorithms (yet), no automation (yet). We will personally email you a song that we think you'll like Monday through Friday, entirely determined by your musical preferences indicated below and our own musical opinions. Most of us aren't experts, we're just a rag-tag team of volunteer curators who listen to a lot of music and keep up-to-date with lesser-known artists.
  </p>

  <%= image_tag "meetup.jpg", alt: "A Song A Day crew", size: "512x360", class: "img-fluid img-rounded center-block shadow-1" %>

  <% unless current_user %>
    <%= form_tag signup_start_url, method: :get, class: "form-inline m-y-3 text-xs-center" do %>
      <div class="form-group">
        <input type="email" name="email" class="form-control form-control-lg m-b-1 jumbotron-form-control" placeholder="send-me@awesome.music" required>
        <button class="btn btn-primary btn-lg btn-xs-down-block m-b-1" type="submit" data-disable-with="Working…">
          Sign Up
        </button>
      </div>
    <% end %>
  <% else %>
    <hr class="m-y-3">
  <% end %>

  <h2 class="text-sm-center m-b-1">About A Song A Day</h2>

  <p>
    A Song A Day originated from the realization that we all need that friend who’s really into music. Even if you were once that person, life happens—families, jobs… dogs? You’ve probably replaced the time once spent reading liner notes and scouring obscure music blogs with bigger priorities. The result is a void filled with shitty radio music and 90s rock ballads on repeat controlled by corporate advertisers and whoever has the thickest wallets.
  </p>

  <p>
    A Song A Day is here to fill that void with music that doesn’t suck. We’re your personal music concierge, your friend to suggest that one song that we think you’ll like (almost) every day.
  </p>

  <p>
    Our curators have made music discovery a routine. Some of us are music experts, some aren’t, but we all live and breath discovering emerging artists and b-sides to the 70s funk bands that no one’s ever heard of.
  </p>

  <p>
    We’re here to support the artists struggling to get their music out there while helping people develop better music taste in a world that commemorates Taylor Swift for being “brave enough” to live in New York on her own.
  </p>

  <p>
    You can learn more about the backstory of A Song A Day and what propelled me to venture down this crazy path in these stories:
  </p>

  <ul>
    <li>
      <a href="https://medium.com/@shannnonb/how-product-hunt-transformed-asongaday-co-from-an-email-to-friends-into-a-startup-in-3-hours-e6a6e5c3e14e">How Product Hunt Transformed asongaday.co from an Email to Friends Into a Startup in 3 Hours</a>
    </li>
    <li>
      <a href="https://medium.com/@shannnonb/it-pains-me-but-here-s-why-i-m-sharing-my-first-product-demo-6cdf25a62939">It pains me, but here’s why I’m sharing my first product demo</a>
    </li>
  </ul>

  <p>
    I truly hope you enjoy your musical experience with us. Happy listening!
  </p>

  <p>
    ~ Shannon B.<br>
    <a href="https://twitter.com/ShannnonB">@ShannnonB</a>
  </p>

  <p>
    Have feedback or questions? Contact me anytime at <%= mail_to "shannon@asongaday.co" %>.
  </p>
</div>
<footer class="application-footer bg-inverse m-t-3 p-y-2 small">
  <%= render "layouts/footer" %>
</footer>
