<%= render "layouts/mailer_body" do %>
  <h1><%= @name %>, it's almost time for daily musical goodness!</h1>

  <p>
    Thank you for signing up to A Song A Day! Just one last step:
  </p>
<% end %>

<%= render "layouts/mailer_button" do %>
  <%= link_to "Confirm your email address", token_url(@token) %>
<% end %>

<%= render "layouts/mailer_body" do %>
  <p>Not you? Don't worry, just ignore this email and we won't contact you again.</p>
<% end %>
