<%= render "layouts/mailer_body" do %>
  <p>
    Here's <%= @day %>'s <b><%= @curator.title %></b> song curated by
    <%= link_to curator_url(@curator) do %><b><%= @curator.user.name %></b><% end %>.
  </p>
<% end %>

<%= render "layouts/mailer_columns", image_url: @song.image_url, url: @song.url do %>
  <h2><%= link_to @song.title, @song.url, target: "_blank" %></h2>

  <%= simple_format @song.description %>

  <% unless @song.genres.empty? %>
    <p>
      <% @song.genres.each do |genre| %>
        <span class="tag tag-warning"><%= genre.name %></span>
      <% end %>
    </p>
    <%= render "layouts/mailer_button" do %>
      <%= link_to "Listen Now", @song.url, target: "_blank" %>
    <% end %>
  <% end %>
<% end %>

<%= render "layouts/mailer_body" do %>
  <p>
    We hope you love today's song! <%= mail_to "curators@asongaday.co", "Let us know what you think!", subject: "A Song A Day: song for #{@date} from #{@curator.title}" %>
  </p>
<% end %>
