<div class="row m-b-2 user-profile">
  <div class="col-sm-4 col-xs-6 m-x-auto m-b-2">
    <%= image_tag gravatar_url(user.email), alt: "Avatar for #{user.name}", class: "img-rounded img-fluid gravatar" %>
  </div>
  <div class="col-sm-8 col-xs-12">
    <div class="card">
      <h3 class="card-block user-profile__name"><%= user.name %></h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="user-profile__email"><%= mail_to user.email %></div>
          <% if user != current_user %>
            <div class="m-t-1 clearfix">
              Confirmed?
              <span class="pull-xs-right">
                <%= check_mark user.confirmed_email? %>
              </span>
            </div>
          <% end %>
        </li>
        <% unless user.extra_information.blank? %>
          <li class="list-group-item user-profile__extra-information">
            <%= simple_format user.extra_information %>
          </li>
        <% end %>
        <% if user.curator? %>
          <li class="list-group-item text-warning">
            Curator
            <span class="pull-xs-right">&#x2714;</span>
          </li>
        <% end %>
        <% if user.admin? %>
          <li class="list-group-item text-info">
            Admin
            <span class="pull-xs-right">&#x2714;</span>
          </li>
        <% end %>
        <%= render partial: "admin/users/social", object: user, as: :user %>
      </ul>
    </div>
  </div>
</div>

<% if user.curator? && user.curators.size > 0 %>
  <h2 class="m-t-3 m-b-2">
    Curator <%= user.curators.size == 1 ? "Profile" : "Profiles" %>
  </h2>

  <% user.curators.each do |curator| %>
    <%= render curator %>
  <% end %>
<% end %>
