<div class="clearfix m-b-2">
  <h1 class="pull-xs-left">
    <%= @user.new_record? ? "Create" : "Edit" %>
    User
  </h1>
  <% unless @user.new_record? %>
    <%= button_to "Delete user", [:admin, @user], method: :delete, data: { confirm: "Really delete #{@user.name}?" }, class: "btn btn-danger-outline pull-xs-right" %>
  <% end %>
</div>

<%= simple_form_for [:admin, @user], html: { class: "clearfix m-b-3" } do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9 m-b-1">
      <%= f.input :name, autofocus: true %>
      <%= f.input :email %>
      <%= f.input :extra_information %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 m-b-1">
      <h5 class="m-b-2">Privileges</h5>

      <%= f.input :curator, inline_label: "Curator?" %>
      <p class="text-info small">Curators can queue songs and have subscribers.</p>
      <%= f.input :admin, inline_label: "Administrator?" %>
      <p class="text-danger small">Administrators can do <strong>anything</strong>. Be careful!</p>
    </div>
  </div>

  <div class="pull-xs-right m-t-2">
    <%= link_to "Cancel", admin_users_path, class: "btn btn-link m-r-1" %>
    <%= f.submit "Save user", class: "btn btn-primary" %>
  </div>
<% end %>

<% if current_user.curator? %>
  <div class="text-muted">
    Your profile page also shows <%= link_to "your curator profile", admin_curators_path %>.
  </div>
<% end %>
