<div class="clearfix m-b-2">
  <h1 class="pull-xs-left">Users</h1>
  <%= link_to "Add new user", new_admin_user_path, class: "btn btn-primary pull-xs-right" %>
</div>

<%= render partial: "pagination", items: @users %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th class="text-xs-center">Curator</th>
      <th class="text-xs-center">Admin</th>
      <th class="text-xs-right">Created</th>
    </tr>
  </thead>
  <tbody>
    <% if @users.empty? %>
      <tr class="table-warning">
        <td colspan="5">
          No users found.
        </td>
      </tr>
    <% end %>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= link_to user.email, admin_user_path(user) %></td>
        <td class="text-xs-center"><%= check_mark user.curator? %></td>
        <td class="text-xs-center"><%= check_mark user.admin? %></td>
        <td class="text-xs-right"><%= user.created_at.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "pagination", items: @users %>
