<% content_for :title, "Users" %>
<% crumb yield(:title), admin_users_path %>
<% crumb "Matching \"#{@search}\"", url_for(q: @search) if @search.presence %>

<div class="clearfix m-b-2">
  <h1 class="pull-sm-left"><%= yield :title %></h1>
  <div class="btn-group pull-sm-right">
    <%= link_to "Export CSV", admin_users_path(format: :csv), target: "_blank",
      class: "btn btn-secondary" %>
    <%= link_to "Add new user", new_admin_user_path,
      class: "btn btn-primary" %>
  </div>
</div>

<%= render partial: "pagination", locals: { collection: @users, search: @search } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th class="text-xs-center">Confirmed?</th>
      <th class="text-xs-center">Receiving</th>
      <th class="text-xs-center">Curator</th>
      <th class="text-xs-right">Created</th>
    </tr>
  </thead>
  <tbody>
    <% if @users.empty? %>
      <tr class="table-warning">
        <td colspan="5">
          No users found.
        </td>
      </tr>
    <% end %>
    <% @users.each do |user| %>
        <th scope="row"><%= link_to user.name, admin_user_path(user) %></th>
        <td><%= link_to user.email, admin_user_path(user) %></td>
        <td class="text-xs-center"><%= check_mark user.confirmed_email? %></td>
        <td class="text-xs-center"><%= check_mark user.receiving_mails? %></td>
        <td class="text-xs-center"><%= check_mark user.curator? %></td>
        <td class="text-xs-right"><%= user.created_at.to_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "pagination", locals: { collection: @users, search: @search } %>
