<% content_for :title, "Subscriptions" %>
<% crumb "Users", admin_users_path if @user != current_user %>
<% crumb @user.name, admin_user_path(@user) if @user != current_user %>
<% crumb yield(:title), url_for %>

<h1 class="m-b-2"><%= yield :title %></h1>

<% if @subscriptions.empty? %>
  <div class="alert alert-warning">
    <%= form_for Subscription.new(curator_id: Curator.random.id), url: url_for do |f| %>
      <%= f.hidden_field :curator_id %>
      <div class="row m-x-0 flex-items-xs-middle flex-items-xs-between">
        <div>
          <strong>Whoa!</strong>
          <%= @user == current_user ? "You're" : "This user is" %>
          not subscribed to anything!
        </div>
        <div>
          <button type="submit" class="btn btn-sm bg-warning">Resubscribe?</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% @subscriptions.each do |subscription| %>
  <p class="lead m-t-2">
    Subscribed since <%= subscription.created_at.to_date.to_s(:long) %>:
  </p>

  <%= render subscription.curator do %>
    <%= link_to "Unsubscribe", url_for(action: :destroy, id: subscription),
      method: :delete, data: { confirm: "Really unsubscribe?" },
      class: "btn btn-danger pull-xs-right" %>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <h2 class="m-t-3 m-b-2">Add Subscription</h2>

  <% if @user.extra_information.blank? %>
    <p>This user didn't leave any extra information.</p>
  <% else %>
    <p>Here's this user's extra information:</p>

    <%= simple_format @user.extra_information %>
  <% end %>

  <%= simple_form_for Subscription.new, url: url_for do |f| %>
    <%= f.association :curator, input_html: { class: "c-select" } %>

    <div class="pull-xs-right m-t-2">
      <%= f.submit "Create subscription", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
